body {
  background: url(../../assets/images/background.jpg) repeat;
  color: #f7eed4;
  border: 1px dashed gray;
  height: 768px;
  width: 1366px;
  overflow: hidden;
}
div.wrapper {
  padding: 90px 42px;
}
div.step {
  margin: 0 auto;
}

h1 {
  color: #f8f1d6;
  font-size: 23px;
  font-family: Archer;
  font-weight: normal;
  margin-bottom: 20px;
}
h2 {
  text-transform: uppercase;
}
h3 {
  font-family: "Tungsten";
  font-size: 36px;
  text-transform: uppercase;
}

/* Step 1 */
div.section {
  float: left;
  margin-right: 34px;
}
div.section img {
  box-shadow: 2px 2px 15px rgba(0,0,0,0.7);
  width: 295px;
  height: 495px;
}
div.section:last-child {
  margin-right: 0;
}

/* Step 2 */
.option ul {
  float: left;
  width: 50%;
}
.option li {
  font-size: 32px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.option img {
  float: right;
  width: 50%;
  height: 540px;
  width: 720px;
}

.back {
  clear: both;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
.hidden,
.option {
  display: none;
}
