body {
  background: url(../../assets/images/background.jpg) repeat;
  color: #f7eed4;
  border: 1px dashed gray;
  height: 1080px;
  width: 1920px;
  overflow: hidden;
}
div.step {
  margin: 0 auto;
}

h1, h4 {
  font-size: 35px;
  font-family: Archer;
  font-weight: normal;
}
h2 {
  font-family: "Tungsten-Medium";
  text-transform: uppercase;
  font-size: 98px;
  font-weight: normal;
  letter-spacing: -0.02em;
}
h3 {
  font-family: "Tungsten";
  font-size: 59px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 4px;
}
h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

/* Step 1 */
h1 {
  margin-bottom: 20px;
}
#step-1-wrap {
  padding: 90px 42px;
}
div.section {
  float: left;
  margin-right: 55px;
}
div.section img {
  box-shadow: 2px 2px 15px rgba(0,0,0,0.7);
  width: 417px;
  height: 695px;
}
div.section:last-child {
  margin-right: 0;
}

/* Step 2 */
h2 {
  padding: 46px 0 0 0;
  margin-bottom: 14px;
}
h2, h4 {
  padding-left: 36px;
}
.question-wrap {
  float: left;
}
.area {
  position: relative;
  margin-bottom: 78px;
  height: 89px;
}
.question-box {
  position: absolute;
  height: 119px;
  width: 850px;
  background: rgba(152, 146, 122, .7);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.7);
  display: table;
}
.question-box.active-question {
  background: rgba(234, 244, 244, .7);
}
.question-box p {
  font-size: 26px;
  padding: 0 70px 0 50px;
  line-height: 30px;
  color: #392800;
  font-family: "Proxima Nova";
  display: table-cell;
  vertical-align: middle;
}
.option img,
#videoPlayer {
  float: right;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.7);
}
.back {
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 2;
  float: right;
  box-shadow: 0 0 8px rgba(0,0,0,0.7);
  text-align: center;
  padding: 14px 40px 10px;
  font-size: 38px;
  color: #1a0d05;
  background: rgba(188,183,162,0.49);
  text-transform: uppercase;
  font-family: "Tungsten";
}
.hidden,
.option {
  display: none;
}

/* Video player */
.vjs-big-play-button,
.vjs-play-control,
.vjs-current-time,
.vjs-time-divider,
.vjs-duration,
.vjs-remaining-time,
.vjs-fullscreen-control,
.vjs-volume-control,
.vjs-mute-control,
.vjs-default-skin .vjs-slider-handle {
  display: none;
}
.vjs-fade-in,.vjs-fade-out {
  visibility: visible !important;
  opacity: 1 !important;
  transition-duration: 0s!important;
}
.vjs-default-skin .vjs-control-bar {
  background: none;
  bottom: -55px !important;
}
.vjs-default-skin .vjs-progress-control,
.vjs-default-skin:hover .vjs-progress-control {
  width: 40% !important;
  height: 15px;
  font-size: 1em;
  -webkit-transition: none !important;
  transition-duration: 0s!important;
}
.vjs-default-skin .vjs-slider {
  background: #3c1f0b;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, .3);
}
.vjs-default-skin .vjs-play-progress {
  background: #d9c989;
}
