/**
 * "Meet the Potter" video kiosk theme.
 */

body {
  background: url(../../assets/images/background.jpg) repeat;
  color: #f7eed4;
  border: 1px dashed gray;
  height: 1080px;
  width: 1920px;
  overflow: hidden;
}
.wrapper {
  padding: 18px;
  width: 1884px;
}

h1 {
  text-transform: uppercase;
  color: #f8f1d6;
  margin: 85px 0 33px;
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-family: "Tungsten-Semibold";
}
h1 span {
  display: block;
  font-weight: bold;
  font-size: 1.8em;
}
h3 {
  color: #FFFFFF;
  font-family: "ProximaNova Semibold", "Myriad Pro";
  letter-spacing: 0.04em;
  font-size: 1.3em;
  padding: 10px 60px;
}

#step-1-wrap {
  margin: 0 auto;
  width: 1780px;
}
div.section {
  float: left;
  width: 375px;
  margin-right: 40px;
  text-align: center;
}
div.section.last {
  margin-right: 0;
}

.hidden {
  display: none;
}
